{% extends 'base.html.twig' %}

{% block main %}

<div class="col-md-9">
    <div class="row" id="productMain">
        <div class="col-sm-6">
            <div id="mainImage">
                <img src="{{ asset(product.picture) }}" alt="" class="img-responsive">
            </div>

            <div class="ribbon sale">
                <div class="theribbon">SALE</div>
                <div class="ribbon-background"></div>
            </div>
            <!-- /.ribbon -->

            <div class="ribbon new">
                <div class="theribbon">NEW</div>
                <div class="ribbon-background"></div>
            </div>
            <!-- /.ribbon -->

        </div>

        <div class="col-sm-6">
            <div class="box">
                <h1 class="text-center">{{ product.name }}</h1>
                <p class="goToDescription"><a href="#details" class="scroll-to">Scroll to product details</a>
                </p>
                <p class="price">€{{ product.price }}</p>

                <div class="text-center buttons">
                    <a href="basket.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                </div>
                {% if app.getUser() and app.getUser().isAdmin() %}

                    <div class="text-right text-center">
                        <a class="btn btn-primary" href="{{ path('admin_edit_product', {id:product.id}) }}"><span class="fa fa-edit"></span> Edit</a>
                        <a class="btn btn-danger" href="{{ path('delete_product', {id:product.id}) }}"><span class="fa fa-trash-o"></span> Delete</a>
                    </div>

                {% endif %}

                {% if app.getUser() and app.getUser().isEditor() %}
                    <div class="text-right text-center">
                        <a class="btn btn-primary" href="{{ path('editor_edit_product', {id:product.id}) }}"><span class="fa fa-edit"></span> Edit</a>
                        <a class="btn btn-danger" href="{{ path('delete_product', {id:product.id}) }}"><span class="fa fa-trash-o"></span> Delete</a>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
    <div class="box" id="details">
        <h3>Product details</h3>
        <p>{{ product.description }}</p>
    </div>
</div>

{% endblock %}

