{% extends 'base.html.twig' %}

{% block main %}
    <div class="col-md-9">
        <div class="row products">
            {% if products|length > 0 %}

                {% for product in products %}

                    <div class="col-sm-6 col-md-4">
                        <div class="product">
                            <div class="flip-container">
                                <div class="flipper">

                                    <div class="front">
                                        <a href="{{ path('product_view', {id:product.id}) }}">
                                            <img src="{{ asset(product.picture) }}" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="back">
                                        <a href="{{ path('product_view', {id:product.id}) }}">
                                            <img src="{{ asset(product.picture) }}" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <a href="{{ path('product_view', {id:product.id}) }}" class="visible">
                                <img src="{{ asset(product.getPicture()) }}" alt="" class="img-responsive">
                            </a>

                            <div class="text">
                                <h3><a href="{{ path('product_view', {id:product.id}) }}">{{ product.name }}</a></h3>
                                <p class="label label-warning">Quantity: {{ product.quantity }}</p>
                                <hr>
                                <p class="price bg-primary">€{{ product.price }}</p>
                                <hr>
                                <p class="price bg-primary">Seller: {{ product.getOwner() }}</p>

                                <p class="buttons">
                                    <a href="{{ path('product_view', {id:product.id}) }}" class="btn btn-default">View detail</a>
                                    <a href="{{ path('add_to_cart', {id:product.id}) }}" class="btn btn-info"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                </p>
                            </div>
                            <!-- /.text -->
                        </div>
                        <!-- /.product -->
                    </div>

                {% endfor %}
                <div class="pages text-center">
                    {{ knp_pagination_render(products) }}
                </div>
            {% else  %}
                <div class="text"><h3>No products yet. :(</h3></div>
            {% endif %}
        </div>
    </div>

{% endblock %}